body {
  display: block;
  background-color: grey;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-size: 46px;
  padding: 0;
  margin: 0;
  color: #222222;
  -webkit-text-stroke: 2px #ffffff;
}
h2 {
  flex-direction: column
}

p {
  padding: 0;
  margin: 0;
}

.pageOne, .pageTwo, .pageThree {
  display: flex;
  padding: 0;
  margin: 0;  
  min-width: 100vw;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

.pageOne {
  background-image: url("./assets/images/heroTwo.jpg");
}

.pageTwo {
  background-image: url("./assets/images/heroOne.JPG");
}

.infoContainerTwo {
  max-width: 50%;
  h2 {
    font-size: 38px;
  }
  a:hover {
    color: #ffffff;
    -webkit-text-stroke: 2px #222222;
  }
}

.infotainer {
  position: relative;
  left: 20%;
}

.infotainerTwo {
  position: relative;
  left: 30%;
}

.sideMenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 30%;
  right: 0;
  border-radius: 5px;
  border-style: solid;
  a{
    padding: 10px;
  }
}

span {
  padding: 5px;
}

a {
  color: #222222;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  cursor: crosshair;
}