body {
  display: block;
  background-color: grey;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-size: 46px;
  padding: 0;
  margin: 0;
  color: #222222;
  -webkit-text-stroke: 1px #ffffff;
}
h2 {
  flex-direction: column
}

p {
  padding: 0;
  margin: 0;
}

.pageOne, .pageTwo {
  display: flex;
  padding: 0;
  margin: 0;  
  min-width: 100vw;
  min-height: 100vh;
}

.pageOne {
  background-image: url("./assets/images/heroOne.JPG");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

.pageTwo {
  background-image: url("./assets/images/heroTwo.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.infotainer {
  position: relative;
  left: 20%;
}

.sideMenu {
  display: flex;
  position: fixed;
  top: 50%;
  right: 0;
  border-radius: 5px;
  border-style: solid;
}

span {
  padding: 5px;
}

a {
  color: #222222
}

a:hover {
  color: #ffffff
}